version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: app/dockerfile 
    container_name: backend
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    environment:
      - VITE_API_BASE_URL=http://backend:8000
    ports:
      - "5173:5173"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
